/* body {
    font-family: 'Roboto', sans-serif  !important ;
    font-size: 20px   !important ;
    color: #000000  !important ;
}; */

/* Override Bootstrap link color */
.footerLinks {
    color: #ffffff !important; /* Your desired link color */
    
}